body{
	width:100%;
	/*height:1200px;*/
	background:#E6EBEA;
}

#container{
	width:100%;
	background:#fff;
}

/*头部样式开始*/
#container .header{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-top: 1px;
	box-shadow:1px 1px 1px #ccc;
}

#container .header .header_menu{
	width:970px;
	height:40px;
	margin:0 auto;
	position:relative;
}

#container .header .header_menu li,span{
	float:left;
}

#container .header .header_menu a{
	position:relative;
	display:block;
}

#container .header .header_menu a span{
	width:220px;
	height:42px;
	background:url(../images/ost-bg.png) no-repeat 0px -39px;
}

#container .header .header_menu>li:nth-of-type(1){
	width:230px;
	height:42px;
}

#container .header .header_menu>li:nth-of-type(2){
	float:right;
	width:108px;
	height:40px;
	position:relative;
}

#container .header .header_menu>li:nth-of-type(2):hover h2{
	color:#ff4e00;
}
#container .header .header_menu>li:nth-of-type(2):hover span{
	background:url(../images/ost-bg.png) no-repeat -169px -119px;
}

#container .header .header_menu>li:nth-of-type(2) h2{
	float:left;
	font-size:12px;
	line-height:40px;
}

#container .header .header_menu>li:nth-of-type(2) span{
	width:20px;
	height:40px;
	line-height:40px;
	float:left;
	margin-left: 4px;
	background:url(../images/ost-bg.png) no-repeat -149px -119px;
}

/*头部第一个隐藏框样式开始*/
#container .header .header_menu>li:nth-of-type(3){
	width:970px;
	height:185px;
	margin-top:-42px;
	display:none;
	position:relative;
}
/*头部第一个隐藏框样式结束*/

/*头部第二个隐藏框样式开始*/
#container .header .header_menu>li:nth-of-type(4){
	width:700px;
	height:458px;
	background:#fff;
	position:absolute;
	right:0px;
	top:40px;
	z-index:99;
	display:none;
	box-shadow:5px 5px 5px #ccc;
}

#container .header .header_menu>li:nth-of-type(4)>ul{
	width:212px;
	height:422px;
	padding:0 10px;
	border-right:1px solid #e2e2e2;
	float:left;
	margin: 17px 0 8px;
}

#container .header .header_menu>li:nth-of-type(4)>ul:nth-of-type(3){
	border-right:none;
}

#container .header .header_menu>li:nth-of-type(4)>ul>div{
	float:left;
	width:207px;
	padding-right:5px;
	padding-bottom:2px;
	height:21px;
	position:relative;
	border-bottom:1px solid #ccc;
}

#container .header .header_menu>li:nth-of-type(4)>ul>div>h2{
	float:left;
	font-size:12px;
	width:91px;
	height:20px;
	line-height:20px;
	font-weight:800;
	color:#555;
}

#container .header .header_menu>li:nth-of-type(4)>ul>div>span{
	width:38px;
	height:20px;
	float:right;
	font-size:12px;
	background:none;
	color:#ccc;
}

#container .header .header_menu>li:nth-of-type(4)>ul>div>span:hover{
	color:#ff4e00;
}

#container .header .header_menu>li:nth-of-type(4)>ul>div>span>i{
	font-size:12px;
	margin-left:2px;
	color:#ccc;
}

#container .header .header_menu>li:nth-of-type(4)>ul>h3{
	width:100%;
	height:27px;
	font-size:12px;
	line-height:27px;
	float:left;
	position:relative;
	color:#999;
}

#container .header .header_menu>li:nth-of-type(4)>ul>span{
	width:100%;
	height:29px;
	line-height:29px;
}

#container .header .header_menu>li:nth-of-type(4)>ul>span>b{
	width:10px;
	height:10px;
	background:#ff4e00;
	margin-right:3px;
	padding-left:3px;
	padding-right:3px;
	color:white;
	font-weight:100;
}

#container .header .header_menu>li:nth-of-type(4)>ul>li{
	width:194px;
	overflow:hidden;
	padding-bottom:1px;
	position:relative;
}

#container .header .header_menu>li:nth-of-type(4)>ul>li>span{
	width:100%;
	height:29px;
	line-height:29px;
	display:block;
}

#container .header .header_menu>li:nth-of-type(4)>ul>li>span>b{
	width:10px;
	height:10px;
	background:#ff4e00;
	margin-right:3px;
	padding-left:3px;
	padding-right:3px;
	color:white;
	font-weight:100;
}


#container .header .header_menu>li:nth-of-type(4)>ul>li>img{
	width:100%;
	overflow:hidden;
	display:none;

}

#container .header .header_menu>li:nth-of-type(4)>ul>li>i{
	width:194px;
	height:30px;
	color:#aaa;
	background:#000;
	opacity:0.6;
	position:absolute;
	top:52px;
}

#qwe{
	width:194px;
	height:82px;
}

#container .header .header_menu>li:nth-of-type(4)>ul>li>i>span{
	width:50%;
	height:30px;
	line-height:30px;
	color:#aaa;
	text-align:center;
}
#container .header .header_menu>li:nth-of-type(4)>ul>li>i>span:hover{
	color:#FF4E00;
}

#container .header .header_menu>li:nth-of-type(5){
	width:180px;
	height:42px;
	position:absolute;
	right:120px;
	top:0;
	z-index:5;
}

#container .header .header_menu>li:nth-of-type(5)>a{
	width:60px;
	height:42px;
	line-height:42px;
	float:left;
	display:block;
	color:#ccc;
	margin-right:5px;
}

#container .header .header_menu>li:nth-of-type(5)>a:nth-of-type(2){
	color:#2fc3a3;
}

#container .header .header_menu>li:nth-of-type(5)>a:nth-of-type(1){

	width:85px;
}

#container .header .header_menu>li:nth-of-type(5)>a>span{
	background:transparent;
	float:left;
	height:42px;
	width:42px;
	position:absolute;
	top:0px;
	left:35px;
	display:block;
}

#container .header .header_menu>li:nth-of-type(5)>a:hover{
	color:#666;
}

/*头部第二个隐藏框样式结束*/

/*头部样式结束*/



/*主体样式开始*/

/*主体头部样式开始*/
#container .section {
	width: 100%;
	height:600px;
	background:#e6ebea url(../picture/123239o53b27ky2x3yww3x.jpg) no-repeat 30% 0;
	position:relative;
}

#container .section .section-main{
	width:0px;
	height:300px;
	background:rgba(122,122,122,0.1);
	position:absolute;
	top:150px;
	left:200px;
	border-radius:20px;
	overflow: hidden;
}

#container .section .section-main>ul{
	width:350px;
	height:100px;
	margin:0 auto;
	margin-top:25px;
	overflow:hidden;
}

#container .section .section-main>ul>li{
	width:100%;
	height:45px;
	float:left;
	text-align:center;
}

#container .section .section-main>ul>li>span{
	width:30%;
	height:45px;
	float:left;
	line-height:45px;
	display:inline-block;
	position:relative;
	font-size:14px;
	color:#999;

}

#container .section .section-main>ul>li>input{
	width:65%;
	height:45px;
	float:left;
	height:30px;
	position: relative;
	top:10px;
}

#container .section .section-main>ul:nth-of-type(2){
	height:50px;
	margin-top:-10px;
}

#container .section .section-main>ul:nth-of-type(2)>label{

	width:100px;
	height:20px;
	display:block;
	margin-left:81px;
	margin-top:20px;
	cursor:pointer;
	/*overflow:hidden;*/
}

#container .section .section-main>ul:nth-of-type(2)>label>input{
	float:left;
	margin-top:3px;
	margin-right:5px;
}


#container .section .section-main>ul:nth-of-type(2)>p{
	width:80px;
	height:20px;
	display:block;
	float:left;
	position:relative;
	top:-21px;
	left:207px;
	cursor:pointer;
	color:#aaa;
	overflow:hidden;
}


#container .section .section-main>ul:nth-of-type(3)>button:nth-of-type(1){

	width:90px;
	height:34px;
	position:relative;
	top:0px;
	left:70px;
	border-radius:5px;
	border:1px solid #fff;
	outline:0;
	cursor:pointer;
	font-family:微软雅黑;
	background:#E3E3E3;
	overflow:hidden;
}


#container .section .section-main>ul:nth-of-type(3)>button:nth-of-type(2){

	width:90px;
	height:34px;
	position:relative;
	top:0px;
	left:97px;
	border-radius:5px;
	border:1px solid #fff;
	outline:0;
	cursor:pointer;
	font-size:14px;
	font-family:微软雅黑;
	background:#E3E3E3;
	overflow:hidden;
}
/*主体内容头部结束*/



/*页脚内容开始*/

#container .flooter {

	width:100%;
	height:150px;
	background:#000000;
}

#container .flooter .flooter-1{

	width:1000px;
	height:90px;
	padding-top:54px;
	margin:0 auto;
	color:#5b5b5b;
	text-align:center;
}

#container .flooter .flooter-1>p{
	width:100%;
	display:inline-block;
	text-align:center;
	margin:2px 0;
	height:16px;
	overflow:hidden;

}

#container .flooter .flooter-1>p:nth-of-type(1){
	width:68%;
	margin:0 auto;
}

#container .flooter .flooter-1>p:nth-of-type(1)>a{

	float:left;
	margin:0 8px;
}

#container .flooter .flooter-1>p:nth-of-type(1)>a:hover{

	color:#999;
}

#container .flooter .flooter-1>p:nth-of-type(1)>span{

	float:left;
}

/*页脚内容结束*/